@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    color: #262626;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

p, p1 {
    color: #999;
    text-align: center;
}

.outer-container {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 20px;
    position: relative;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin-top: 20px;
}

button, input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

button {
    background-color: #3897f0;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #318ce7;
}

input[type="text"], input[type="password"] {
    background-color: #fafafa;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #a8a8a8;
    outline: none;
}

.sign-up-btn {
    background-color: #fff;
    color: #3897f0;
    border: 1px solid #3897f0;
}

.sign-up-btn:hover {
    background-color: #f0f0f0;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #dbdbdb;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.or {
    margin: 10px 0;
    color: #262626;
}

h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #262626;
}
